.user-profile .topics-container {
  padding-top: 30px;
  min-height: initial;
}
.user-profile p {
  margin: 0;
}
.user-profile p.text {
  font-size: 22px;
}
.user-profile p.number {
  font-size: 36px;
}
