.output-window {
  margin-top: 15px;
  width: 70%;
  padding-left: 15px;
  min-height: 150px;
  margin-top: 15px;
  color: var(--text-color);
  border: 1px solid var(--third-color);
  background-color: var(--text-hover-color);
}
@media screen and (max-width: 768px) {
  .output-window {
    width: 90%;
  }
}
.horizontal-line {
  margin-top: 15px;
  border: 1px solid var(--third-color);
}
.code-editor-submit-button {
  margin-top: 15px;
  padding: 8px 16px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  height: auto;
  width: fit-content;
  /*  display: flex;
  align-items: center;
  justify-content: center; */
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 14px;

  &:hover {
    background-color: var(--text-color);
    color: var(--text-hover-color);
    border: 1px solid var(--text-hover-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
.code-editor-submit-button:disabled {
  background-color: #ccc;
  color: #888;
  border-color: #ccc;
}

.success {
  border: 1px solid var(--success-color);

  .horizontal-line {
    border: 1px solid var(--success-color);
  }
  div .output-message {
    color: var(--success-color);
  }
}
.error {
  border: 1px solid var(--error-color);

  .horizontal-line {
    border: 1px solid var(--error-color);
  }
  div .output-message {
    color: var(--error-color);
  }
}

.btn-msg-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.output-message {
  margin-left: 15px;
  &.success {
  }
  &.error {
    color: var(--alert-color);
  }
}
