.sidebar {
  width: 175px;
  min-height: 100vh;
  box-shadow: 0 0 150px 0 rgba(0, 0, 0, 0.12), 0 2px 200px 0 rgba(0, 0, 0, 0.22);
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--primary-color);
}
.sidebar-navlinks {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-navlink {
  padding: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding-left: 20px;
}

.sidebar-collapse {
  box-shadow: 0 0 0 2px var(--third-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 8px;
  color: var(--text-color);
  position: absolute;
  right: 0;
  transform: translate(50%, 25px);
}
.sidebar.false {
  font-size: 0.6vw;
  width: 60px;
  transition: 0.5s;
}
.sidebar.true {
  font-size: 20px;
  width: 135px;
  transition: 0.5s;
}

.borderXwidth a {
  position: relative;
}
.borderXwidth a:before,
.borderXwidth a:after {
  position: absolute;
  opacity: 0;
  width: 0%;
  height: 2px;
  content: "";
  background: var(--text-color);
  transition: all 0.3s;
}

.borderXwidth a:before {
  left: 0px;
  top: 0px;
}

.borderXwidth a:after {
  right: 0px;
  bottom: 0px;
}

.borderXwidth a:hover:before,
.borderXwidth a:hover:after {
  opacity: 1;
  width: 100%;
}

.borderXwidth a.active:before,
.borderXwidth a.active:after {
  opacity: 1;
  width: 100%;
}
