@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Code+Pro:wght@400;500;600;700&display=swap");

html {
  --primary-color: #fffefeac;
  --secondary-color: #ffff;
  --third-color: #e9c46a;
  --fourth-color: #f4a261;
  --fifth-color: #e76f51;
  --text-color: #212121;
  --primary-hover-color: #f4f4f483;
  --secondary-hover-color: #27c0ae90;
  --third-hover-color: #f6cb5f95;
  --fourth-hover-color: #ff9f50a1;
  --fifth-hover-color: #fc6b478f;
  --text-hover-color: #ffffff;
  --success-color: #198754;
  --error-color: #dc4c64;
  --sidebar-color: #fff;
  --modal-background-color: #e9c46a;
  --modal-span-color: #264653;

}

[data-theme="dark"] {
  --primary-color: #264653;
  --secondary-color: #242424;
  --third-color: #e9c46a;
  --fourth-color: #f4a261;
  --fifth-color: #e76f51;
  --text-color: #ffffff;
  --primary-hover-color: #2045628b;
  --secondary-hover-color: #27b4a4a1;
  --third-hover-color: #f6cb5f95;
  --fourth-hover-color: #ff9f50a1;
  --fifth-hover-color: #fc6b478f;
  --text-hover-color: #212121;
  --success-color: #198754;
  --error-color: #dc4c64;
  --editor-color: #ffffff;
  --sidebar-color: #264653;
  --modal-background-color: #264653;
  --modal-span-color: #e9c46a;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For the entire body (paragraphs, etc.), use Roboto */
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

/* For headings (h1, h2, h3, etc.), use Roboto Mono */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

/* For code snippets (e.g., <code> elements), use Source Code Pro */
code {
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

label {
  color: var(--third-color);
}

.content-container {
  flex: 1;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  * {
    font-size: 14px;
    scrollbar-width: thin;
    scrollbar-color: var(--third-color) var(--secondary-color);
  }
}
.modal-content {
  background: var(--modal-background-color);
}

.modal-content .span {
  font-weight: 500;
  color: var(--modal-span-color);
  font-size: 22px;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.modal-content .modal-btn {
  color: #264653;
  padding: 4px 8px;
  border-radius: 10px;
}
